.el-input__inner{
  border:1px solid #bbbbbb;
  color: #777;
  padding: 3px;
  border-radius: 0;
  font-size: 12px;
  height: 34px;
}
.el-input__icon{
  width: 30px;
}
.el-input__icon+.el-input__inner{
  padding-right: 20px
}
.sq_time_f{
  float: left;
}
.el-input__icon+.el-input__inner::-webkit-input-placeholder { /* WebKit browsers*/
  color:#777777;
}
.el-input__icon+.el-input__inner:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
  color:#777777;
}
.el-input__icon+.el-input__inner::-moz-placeholder {  /* Mozilla Firefox 19+*/
  color:#777777;
}
.el-input__icon+.el-input__inner:-ms-input-placeholder { /* Internet Explorer 10+*/
  color:#777777;
}
