.knowMain{
    width:100%;
    min-width: 1200px;
    min-height:100%;
    background-color: #dae6ef;
    overflow: hidden;
}
.kdmContent{
    width: auto;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    position: relative;
}
.kdmContent .conTitle{
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 10px;
    position: absolute;
}
.kdmCon{
    border: 1px solid #4ea0ea;
    border-radius: 4px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}
/*左侧 start*/
.kdmCon_left{
    width: 238px;
    /*
    min-height: 800px;
    background-color: #eeeeee;
    margin: 20px 20px 10px;
    */
    border-right: 1px solid #77afea;
    position: absolute;
    top:0px;
    bottom:0px;
    overflow: auto;
}
.kdmCon_left ul.parentList.parentList li{
    float: left;
    border-bottom: 1px solid #dddddd;
    position: relative;
    list-style: none;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.kdmCon_left ul.parentList {
    overflow: hidden;
}
.kdmCon_left ul.parentList li a,.kdmCon_left ul.parentList li span{
    display: block;
}
.kdmCon_left .childList{
    overflow: hidden;
}
.kdmCon_left ul.parentList li span{
    float: left;
    font-size: 12px;
}
.kdmManagement {
    width: 235px;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    background-color: #ffffff;
    font-size: 14px;
    color: #222222;
    transition:background .5s ease-in-out;
}
.kdmManagement > p, .kdmManagement > input{
    width: 155px;
    height: 46px;
    cursor: pointer;
    font-size: 14px;
}
.kdmMaDele{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
    background-image: url("http://static.crecgec.com/mmp/km1_1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.kdmMaUpdate{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 14px;
    right: 41px;
    cursor: pointer;
    background-image: url("http://static.crecgec.com/mmp/km2_1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.kdmMaDele:hover{
    opacity: 0.5;
}
.kdmMaUpdate:hover{
    opacity: 0.5;
}
.kdmCon_left ul.parentList > li > ul > li{
    list-style: none;
    width: 238px;
    height: 42px;
    line-height: 42px;
}
.kdmCon_left ul.parentList .parentList_edit{
    border:0px;
    outline: none;
}
.kdmCon_left ul.parentList li{
    cursor: pointer;
}
.kdmCon_left ul.parentList > li > ul > li span, .kdmCon_left ul.parentList .parentList_edit{
    width: 150px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    margin-left: 15px;
}
.kdmCon_left ul.parentList .parentList_edit{
    background-color: rgba(0,0,0,0);
}
.kdm_span_update{
    float: right;
    width: 16px;
    height: 43px;
    cursor: pointer;
    background-image:url("http://static.crecgec.com/mmp/km2_1.png");
    background-position: 0 13px; /*24*/
    background-repeat: no-repeat;
    margin-right: 10px;
}
.kdm_span_update:hover{
    background-position: 0 -35px;
}
.kdm_span_dele{
    float: right;
    width: 13px;
    height: 43px;
    cursor: pointer;
    background-image: url("http://static.crecgec.com/mmp/km1_1.png");
    background-position: 0 14px;  /*48*/
    background-repeat: no-repeat;
    margin-right: 18px;
}
.kdm_span_dele:hover{
    background-position: 0 -34px;  /*48*/
}
.kdm_span_add{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("http://static.crecgec.com/mmp/km3.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 13px 111px;
}
.kdmMaAdd{
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url("http://static.crecgec.com/mmp/km4.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 15px 112px;
}
/*左侧 end*/
/*右侧 start*/
.kdmCon_right{
    overflow: auto;
    margin-left: 280px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*
    min-width: 320px;
    */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.kdmCon_right a,.kdmCon_right span,.kdmCon_right i{

}
.kdmCon_right > div{
    position: relative;
    margin-top: 20px;
    text-align: left;
}
.kdmCon_right > div p{
    color: #222222;
    font-size: 14px;
}
.kdmCon_right p.answerT a{
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 5px;
    color: #464646;
    cursor: pointer;
    text-decoration: none;
}
.kdmCon_right p.answerT a:hover{
    color: #4ea0ea;
}
.kdmCon_right .heading{
    height: 54px;
    line-height: 54px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: black;
    text-align: left;
    padding-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.kdmCon_right > div input[type=text]{
    width: 98%;
    height: 56px;
    line-height: 56px;
    border: 1px solid #bbbbbb;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.kdmCon_right > div > div{
    border: 1px solid #bbbbbb;
    margin-top: 10px;
    overflow: hidden;
}
.kdmCon_right_ul > li{
    list-style: none;
    float: left;
    line-height: 34px;
    min-height: 34px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0 10px 10px;
    background-color: #bbbbbb;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.kdmCon_right_ul > li:hover{
    background-color: #4ea0ea;
}
.kdmCon_right_ul > li.select{
    background-color: #4ea0ea;
}
.kdmCon_right_ul > li span,.kdmCon_right_ul > li i{
    float: left;
}
.kdmCon_right_ul > li i{
    width: 13px;
    height: 13px;
    background-image: url("http://static.crecgec.com/mmp/km1.png");
    background-repeat: no-repeat;
    background-position: 0 -24px;
    margin-top: 10px;
    margin-left: 10px;
}
.keyword .changeMsg img{
    margin-top: 2px;
}
.titleA{
    position: absolute;
    top: 46px;
    right: 15px;
}
.kdmCon_right_ul > li.addTag{
    padding:0;
}
.kdmCon_right_ul > li .labelA{
    width: 34px;
    height: 34px;
    border-radius: 4px;
    float: left;
    background-color: #bbbbbb;
}
.kdmCon_right_ul > li .labelA:hover{
    background-color: #4ea0ea;
}
.kdmCon_right_ul > li .labelA i{
    width: 18px;
    height: 18px;
    margin: 8px;
    background-image: url("http://static.crecgec.com/mmp/km5.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
}
.kdmCon.kdmCon_search .keyword{
    padding-bottom: 0px;
}
.kdmCon.kdmCon_search .answer{
    padding: 10px;
}
.kdmCon .keyword{
    min-height: 22px;
    padding-bottom: 30px;
}
.kdmCon .answer{
    min-height: 22px !important;
    padding: 10px 10px 30px 10px;
    position: relative;
}
.answer{
    text-align: left;
}
.keyword > .changePoint{
    width: 275px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.answer > .changePoint{
    width: 151px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.keyword > .changePoint > a,.answer > .changePoint > a,.answer > .changePoint > a img,.answer > .changePoint > a span{
    display: block;
    float: left;
}
.keyword > div > a span, .keyword > div > a img{
    display: inline-block;
}
.keyword > div > a,.answer > div > a{
    margin-right: 20px;
    margin-bottom: 5px;
    color: #464646;
    cursor: pointer;
}
.keyword > div > a:hover,.answer > div > a:hover{
    color: #4ea0ea;
}
.keyword > div > a span,.answer > div > a span{
    margin-left: 5px;
}

.answerUl > li{
    color: #777777;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
}
/*右侧 end*/

/*公共类 start*/
.kdmClick .kdmManagement{
    background-color: #067ebc;
}
.kdmClick .kdmManagement > p{
    color: #ffffff;
}
.kdmClick .kdmManagement .kdmClick_dele{
    background-position: 0 -24px;
}
.kdmClick .kdmManagement .kdmClick_update{
    background-position: 0 -24px;
}
.childList .kdmClick_li .span{
    color: #067ebc;
}
/*
.childList .kdmClick_li .kdm_span_dele{
    background-position: 0 -35px;
}
.childList .kdmClick_li .kdm_span_update{
    background-position: 0 -35px;
}
*/
.childList .kdmClick_li{
     background-color: #dae6ef !important;
 }

.kdmClick .childList{
  background-color: #eee;
  transition: all .5s ease-in-out;
}
.listhide-enter-active, .listhide-leave-active {
  transition: all .5s ease-in-out;
}
.listhide-enter-to, .listhide-leave{
  max-height: 1000px;
}
.listhide-enter, .listhide-leave-to{
  max-height: 0px;
}

/*公共类 end*/

/*
.listhide-leave-active, .listhide-leave-to{

}

.list-enter-active,     .listhide-enter-to{

}
*/







